<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Checkout</title>
</head>
<body>
<section>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <div class="container mt-5 p-5">
        <form action="/user/save-order" method="post" id="orders" novalidate>

            <!-- Hidden inputs filled by onchange events -->
            <input type="hidden" name="firstName" id="firstNameInput">
            <input type="hidden" name="lastName" id="lastNameInput">
            <input type="hidden" name="email" id="emailInput">
            <input type="hidden" name="mobileNo" id="mobileNoInput">
            <input type="hidden" name="address" id="addressInput">
            <input type="hidden" name="city" id="cityInput">
            <input type="hidden" name="state" id="stateInput">
            <input type="hidden" name="pincode" id="pincodeInput">
            <input type="hidden" name="paymentType" id="paymentTypeInput">

            <div class="row">
                <!-- LEFT SIDE (Billing Address) -->
                <div class="col-md-6">
                    <p class="text-center fs-4">Billing Address</p>
                    <hr>

                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label>First Name</label>
                            <input type="text" required class="form-control mt-1"
                                   onchange="document.getElementById('firstNameInput').value=this.value;">
                        </div>

                        <div class="col p-1">
                            <label>Last Name</label>
                            <input type="text" required class="form-control mt-1"
                                   onchange="document.getElementById('lastNameInput').value=this.value;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label>Email</label>
                            <input type="email" required class="form-control"
                                   onchange="document.getElementById('emailInput').value=this.value;">
                        </div>

                        <div class="col p-1">
                            <label>Mobile Number</label>
                            <input type="text" required class="form-control ms-2"
                                   onchange="document.getElementById('mobileNoInput').value=this.value;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label>Address</label>
                            <input type="text" required class="form-control"
                                   onchange="document.getElementById('addressInput').value=this.value;">
                        </div>

                        <div class="col p-1">
                            <label>City</label>
                            <input type="text" required class="form-control ms-2"
                                   onchange="document.getElementById('cityInput').value=this.value;">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col p-1">
                            <label>State</label>
                            <input type="text" required class="form-control"
                                   onchange="document.getElementById('stateInput').value=this.value;">
                        </div>

                        <div class="col p-1">
                            <label>Pincode</label>
                            <input type="number" required class="form-control ms-2"
                                   onchange="document.getElementById('pincodeInput').value=this.value;">
                        </div>
                    </div>
                </div>

                <!-- RIGHT SIDE (Payment Section) -->
                <div class="col-md-6">
                    <p class="text-center fs-4">Payment Type</p>
                    <hr>

                    <div class="card">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td>Total Price</td>
                                    <td>:</td>
                                    <td><th:block th:utext="${@commnServiceImpl.rupeeSign()}"></th:block> [[${orderPrice}]]</td>
                                </tr>

                                <tr>
                                    <td>Delivery Fee</td>
                                    <td>:</td>
                                    <td><th:block th:utext="${@commnServiceImpl.rupeeSign()}"></th:block> 250</td>
                                </tr>

                                <tr>
                                    <td>Tax</td>
                                    <td>:</td>
                                    <td><th:block th:utext="${@commnServiceImpl.rupeeSign()}"></th:block> 100</td>
                                </tr>

                                <tr class="border-top">
                                    <td>Total Price</td>
                                    <td>:</td>
                                    <td>
                                        <th:block th:utext="${@commnServiceImpl.rupeeSign()}"></th:block>
                                        <span id="displayTotalOrderPrice">[[${totalOrderPrice}]]</span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card shadow p-3 mb-5 mt-2 bg-body-tertiary rounded">
                        <div class="card-body">
                            <label class="form-label">Select Payment Type</label>
                            <select required name="paymentTypeSelect" id="paymentTypeSelect"
                                    class="form-control"
                                    onchange="document.getElementById('paymentTypeInput').value=this.value;">
                                <option value="">--select--</option>
                                <option value="COD">Cash On Delivery</option>
                                <option value="ONLINE">Online Payment</option>
                            </select>

                            <button type="submit" id="placeOrderBtn"
                                    class="btn bg-primary text-white col-md-12 mt-3">
                                Place Order
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Razorpay keys + amount -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var RAZORPAY_KEY = 'rzp_test_8oHx67joiHUIoD';
        var FINAL_AMOUNT_PAISE = Math.round([[${totalOrderPrice}]] * 100);
        /*]]>*/
    </script>

    <script type="text/javascript" th:src="@{/js/order-payment.js}"></script>

</section>
</body>
</html>
